<!DOCTYPE html>
<html lang="zh">
<head>
    <title>œ‘ø®–‘ƒ‹ - œ‘ø®≤È—Ø - Pcmarker</title>
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.3, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
    <!-- <link rel="import" href="./webcontrol/head.tpl.html?__inline"> -->
    <link type="text/css" rel="stylesheet" href="http://followcat.synology.me:8887/static/pc/style/base.css">
<link type="text/css" rel="stylesheet" href="http://followcat.synology.me:8887/static/pc/style/reset.css">
<link type="text/css" rel="stylesheet" href="http://followcat.synology.me:8887/static/pc/style/mobileBase.css">
<link type="text/css" rel="stylesheet" href="http://followcat.synology.me:8887/static/pc/style/index/index.css">
<!-- <meta name="wap-font-scale" content="no"> -->
    <script type="text/javascript" charset="gbk" src="http://followcat.synology.me:8887/static/pc/lib/vue.min.js"></script>
<script type="text/javascript" charset="gbk" src="http://followcat.synology.me:8887/static/pc/lib/mod.js"></script>
<script type="text/javascript" charset="gbk" src="http://followcat.synology.me:8887/static/pc/lib/lib.js"></script>
<script type="text/javascript" charset="gbk" src="http://followcat.synology.me:8887/static/pc/modules/common/vue/resource/vue-resource.js"></script>
</head>
<body>
<div class="demo-page w1000 font_wryh content" id="page-main">

</div>
</body>
<script>
    Vue.config.delimiters = ['<%','%>'];
    Vue.config.unsafeDelimiters = ['<%%','%%>'];

    var resource = require('common/vue/resource/vue-resource');

    Vue.use(resource);

    var search_title = '{search_title}';
    var category_id = '{category_id}';

    var vm = new Vue({
        ready : function(){

        },
        el: '#page-main',
        data : function(){
            return {

            }
        },
        computed : {

        },
        events :{

        },
        methods : {

        },
        components: {

        }
    });

</script>


</html>
