<!DOCTYPE html>
<html lang="zh">
<head>
    <title>显卡性能 - 显卡查询 - Pcmarker</title>
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.3, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
    <!-- <link rel="import" href="./webcontrol/head.tpl.html?__inline"> -->
    <link charset="utf-8" rel="stylesheet" href='../../style/base.scss'>
    <link charset="utf-8" rel="stylesheet" href='../../style/reset.scss'>
    <link charset="utf-8" rel="stylesheet" href='../../style/mobileBase.css'>
    <link charset="utf-8" rel="stylesheet" href='../../style/index/index.scss'>
    <!-- <meta name="wap-font-scale" content="no"> -->
    <script src="../../lib/vue.min.js"></script>
    <script src="../../lib/mod.js"></script>
    <script src="../../lib/lib.js"></script>
</head>
<body>
<div class="demo-page w1000 font_wryh content" id="page-main">
    {{ content }}
</div>
</body>
<script>

    var resource = require('../../modules/common/vue/resource/vue-resource');

    Vue.use(resource);

    var vm = new Vue({
        ready : function(){

        },
        el: '#page-main',
        data : function(){
            return {
                content : 'hello PCM'
            }
        },
        computed : {

        },
        events :{

        },
        methods : {

        },
        components: {

        }
    });

</script>


</html>
