html, body {
  width: 100%;
  height: 100%;
  word-wrap: break-word; }

body {
  background-color: #f2f2f2; }

main[role="main"] {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main[role="main"] > div {
  -webkit-box-flex: 1;
  box-flex: 1; }

.page-view {
  height: 100%;
  position: relative; }

/**
 * common class
 */
.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.fn-hide {
  display: none !important; }

.fn-hidden {
  visibility: hidden !important; }

.icon {
  display: inline-block; }
  .icon:before {
    content: '';
    vertical-align: top;
    line-height: 1;
    background-repeat: no-repeat; }

.line-through {
  text-decoration: line-through; }

.image-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafafa; }
  .image-img:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 60px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url('../image/avatar-error-min.png');
    background-size: cover;
    content: '';
    margin-top: -8px;
    margin-left: -30px; }
  .image-img.loaded:before {
    display: none; }
  .image-img.error {
    min-height: 150px; }
    .image-img.error:before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-image: url('../image/img_error_min_100x100.png');
      background-size: cover;
      content: '';
      margin-top: -25px;
      margin-left: -24px; }

.layout_box {
  display: -webkit-box; }

.layout_box_v {
  display: -webkit-box;
  -webkit-box-orient: vertical; }

div {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }

p {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  word-break: break-all;
  margin: 0px; }

.fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
  box-pack: center;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center; }

#global-header {
  background-color: #fafafa;
  height: 45px; }
  #global-header:after {
    width: 43px;
    height: 21px;
    background-size: 43px 21px;
    left: 50%;
    top: 12px;
    margin-left: -23px;
    position: absolute;
    content: ''; }

.main-top {
  padding-top: 45px; }
